@import "bourbon";
@import "font-awesome";

body {
  background: #e2ebf3;
}

.app {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}

.title {
  background-color: #85BC05;
  color: white;
  padding: 10px;
  margin: 0;
  position: relative;

  #newContact {
    border-radius: 25px;
    background-color: #AAD069;
    border: none;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.newDiv {
  position: absolute;
  
  .newContact {
    width: 480px;
    color: black;
    padding: 10px;
  }
}


ul {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    cursor: pointer;
    padding: 10px 5px;
  }
}